<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.nopcomerce.user.FE_01_Register</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_05_Register_With_Password_Not_Match</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_04_Register_With_SixCharacter_Password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_03_Register_With_Exist_Email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_01_Register_With_Empty_Data</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_06_Register_With_Valid_Data</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_02_Register_With_Invalid_Email</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
