<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Nop Commerce</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1bd8b">  <td>21/11/19 18:22:00</td>   <td>0</td> <td title="&gt;&gt;AbstractTest.deleteAllFileInReportNGScreenshot()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">&gt;&gt;deleteAllFileInReportNGScreenshot</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20853837</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:00</td>   <td>7</td> <td>&nbsp;</td><td title="&gt;&gt;FE_01_Register.beforeClass(java.lang.String)[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@410516081</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:07</td>   <td>6436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FE_01_Register.TC_01_Register_With_Empty_Data()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">TC_01_Register_With_Empty_Data</td> 
  <td>TestNG@410516081</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:14</td>   <td>13368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FE_01_Register.TC_02_Register_With_Invalid_Email()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">TC_02_Register_With_Invalid_Email</td> 
  <td>TestNG@410516081</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:14</td>   <td>13369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FE_01_Register.TC_03_Register_With_Exist_Email()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">TC_03_Register_With_Exist_Email</td> 
  <td>TestNG@410516081</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:14</td>   <td>13369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FE_01_Register.TC_04_Register_With_SixCharacter_Password()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">TC_04_Register_With_SixCharacter_Password</td> 
  <td>TestNG@410516081</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:14</td>   <td>13370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FE_01_Register.TC_05_Register_With_Password_Not_Match()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">TC_05_Register_With_Password_Not_Match</td> 
  <td>TestNG@410516081</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:14</td>   <td>13371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FE_01_Register.TC_06_Register_With_Valid_Data()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">TC_06_Register_With_Valid_Data</td> 
  <td>TestNG@410516081</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>21/11/19 18:22:14</td>   <td>13372</td> <td>&nbsp;</td><td title="&lt;&lt;FE_01_Register.quitDriver()[pri:0, instance:com.nopcomerce.user.FE_01_Register@4b8ee4de]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@410516081</td>   <td></td> </tr>
</table>
