<h2>Reporter output</h2><table><tr><td>[INFO ] [2021-11-19 18:22:02,944] Driver at Abstract Test = ChromeDriver: chrome on WINDOWS (fdff2b4accbe62deec129476ec6c3486)
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:07,351] TC_01_Register with empty Data
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:07,355] Open The Register page
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:10,087] Dont Input Any Field
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:14,193] Verify Message Displayed error
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:14,236]  -------------------------- PASSED -------------------------- 
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:14,237] Display message true but verify False
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:14,277]  -------------------------- FAILED -------------------------- 
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:14,278] Display message true but verify False
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:14,284] OS name = windows 10
<br></td></tr>
<tr><td>[INFO ] [2021-11-19 18:22:14,920] ---------- QUIT BROWSER SUCCESS ----------
<br></td></tr>
</table>